/* On peut s'apercevoir que notre code CSS et long ainsi que
répétitif  */

.btn-round {
  border-radius: 30px;
}
.wide {
  padding: 15px;
  width: 400px;
  border: none;
  color: #242424;
  background: #48d1cc;
}

.orange-round {
  padding: 15px;
  border: none;
  width: 200px;
  background: orange;
  border-radius: 30px;
}

/*:::reprise du code CSS::::::::::::::::::  */

/* je crées un bouton générique qui soit commun aux autres boutons en utilisant le 
    code css en commun */

.btn {
  padding: 15px;
  border: none;
  width: 200px;
  color: #242424;
  background: #48d1cc;
}
